<!-- Portfolio Modals -->
{% for admission in site.data.admission2022.ka-group %}
  <div class="portfolio-modal modal fade" id="admission{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="padding-bottom: 30px">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <img class="img-fluid d-block mx-auto" id="admissionImg{{forloop.index}}" alt="{{ admission.title }}">
                <button class="btn btn-primary" data-dismiss="modal" type="button" style="text-align:right;">
                  <i class="fas fa-times" ></i>  닫기
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<script type="text/javascript">
</script>
<!-- End Portfolio Modals -->