  <!-- Footer -->
  <footer class="footer" id="footer" style="background-color:#333;">
    <div class="container" style="width:100%;;color:white">
      <div class="row no-gutters">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 col-2" style="padding-top:20px">
          <img src="/assets/img/footer_logo.png" width="100%"  class="mx-auto d-block"/>
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 col-10" style="padding:20px;">서울특별시 강서구 화곡로 161 대성빌딩 4F, 9F | 대표: 황정환 | email: jpyonsei@outlook.com | Tel:<tel>02) 2696-2831</tel> | 사업자등록번호: 117-14-29753</div>
      </div>
    </div>
  </footer>
{% if page.layout == "page" %}
<script>
fixPageShort();
function fixPageShort() {
  if(window.innerHeight > document.body.offsetHeight) {
    document.getElementById("footer").style.position="fixed";
    document.getElementById("footer").style.bottom=0;
    document.getElementById("footer").style.right=0;
    document.getElementById("footer").style.left=0;
    document.getElementById("footer").style.width="100%";
  }
}
</script>
{% endif %}
  <!-- End Footer -->