<!-- Portfolio Modals -->
{% for success in site.portfolio %}
  <div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="padding-bottom: 30px">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">{{ success.name }}</h2>
                <p class="item-intro text-muted"><img src="/assets/img/logo/{% include logo_func.html univ=success.univ %}" width="24px" height="24px" style="margin-bottom:0;margin-right:8px"/>{{ success.title }}</p>
                <img class="img-fluid d-block mx-auto" src="{{ success.picture }}" alt="{{ success.name }}">
				        <div style="text-align: left;">{{ success.content }}</div>
                <button class="btn btn-primary" data-dismiss="modal" type="button" style="text-align:right;">
                  <i class="fas fa-times" ></i>  닫기
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End Portfolio Modals -->