<div style="position:absolute;top:100px;left:20px;">
    <a href="https://blog.naver.com/jp_yonsei/223266641081" title="2024 정시 시즌 1:1 간ㅏ회"><div style="display:inline-block;width:220px;margin-right:3px;margin-bottom:2px;"><img src="/assets/img/popup/2024_season_01.png" width="100%" height="100%" /></div></a>
    <a href="https://blog.naver.com/jp_yonsei/223267695841" title="2024 신입생 정시 시즌 1:1 무료 컨설팅"><div style="display:inline-block;width:220px;"><img src="/assets/img/popup/2024_season_02.png" width="100%" height="100%" /></div></a>
</div>