<!-- Portfolio Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.portfolio.title | markdownify | default: "Portfolio" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.portfolio.text | markdownify }}</h3>
        </div>
      </div>
      <div class="row">
      {% for project in site.portfolio %}
        <div class="col-md-4 col-sm-6 portfolio-item">
            <div style="width:100%;height:195px;">
                <div style="width:100%;height:100%;position:relative;">
                   
                    <div style="position:absolute;height:195px;margin:auto;width:100%;background: url(/assets/img/success_story/lsjm.png) 0 0 no-repeat;background-position: center;">
                        <!-- <div style="width:100%;height:100%;">
                            <div style="margin:auto;width:150px;">
                                <img src="/assets/img/success_story/lsjm.png"/>
                                <div style="background-color: #205f97;position:absolute;left:100px;top:150px;border:#205f97 1px solid;padding:3px;color:white">
                                    2021 한체대 합격
                                </div>
                            </div>
                            
                        </div> -->
                    </div>

                    <div style="position:absolute;left:40px;right:40px;">
                        <p style="margin:0;text-align:center">이*재</p>
                        <p style="margin:0;text-align:center;font-size:12px;">백암고</p>
                    </div>

                    <div style="padding:5px;position:absolute;left:60%;top:120px;border:#205f97 1px solid;padding:3px;color:white;background-color: #205f97;">
                        <p style="margin:0;text-align:right"><string>2021 한체대 합격</string></p>
                        <p style="margin:0;text-align:right;font-size: 12px;">노인체육복지학과</p>
                    </div>

                    <div style="position:absolute;top:60px;left:40px;">
                        <p style="margin:0;text-align:center">이*재</p>
                        <p style="margin:0;text-align:center;font-size:12px;">백암고</p>
                    </div>

                    <div style="width:100%;height:195px;padding-top:35px;">
                        <div style="background-color:#f1f1f1;width:100%;height:160px;">
                            
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>
  {% include modals.html %}