.about-bg {
    background-color: #f7d358;
}

.about-row {
    height: 480px;
}

.about-wrap {
    position: relative;

}

.about-wrap p {
    font-weight: bold;
}

.about-btn {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 180px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:white;
    color:#f7d358;
    border-radius: .80rem;
    //height: 20px;

}

.category-bg {
    background: url(/assets/img/intro/category_bg.png) 0 0 no-repeat;
    background-size: cover;
    height: 400px;
}

.category-bg > div > a {
    width: 90px;
    height: 90px;
    background-size: contain;
    display: block;
    margin:auto;
}

a.category-program {
    background: url(/assets/img/intro/category_program_icon.png) 0 0 no-repeat;
}

a.category-course {
    background: url(/assets/img/intro/category_course_icon.png) 0 0 no-repeat;
}

a.category-admission {
    background: url(/assets/img/intro/category_admission_icon.png) 0 0 no-repeat;
}

a.category-shuttle {
    background: url(/assets/img/intro/category_shuttle_icon.png) 0 0 no-repeat;
}

.about-bg-img {
    background: url(/assets/img/about/about_bg.png) 0 0 no-repeat;
    background-size: cover;
    //height: 250px;
}

p.about-title {
    margin: 10px 10px 0px 20px;
    font-size: 2em;
    text-overflow: ellipsis;
    width:100%;
}

p.about-subtitle {
    margin: 0px 10px 0px 20px;
    font-size: 1em;
}

p.about-subtitle-desc {
    margin: 60px 0 0 20px;
    //position: absolute;
    //bottom: 100px;
    //left: 20px;
}

p.about-greeting {
    margin: 0 0 0 20px;
    //position: absolute;
    //bottom: 75px;
    //left: 20px;
}

@media(min-width:768px) {
    
    .about-row {
        height: 280px;
    }
    
    .about-bg-img { 
        height:280px;
    }
    
}